<a href="https://colab.research.google.com/github/crneubert/best-music/blob/main/analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **SETUP**

In [1]:
!pip install pyspark
!pip install -U -q PyDrive

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-17-openjdk-amd64"
os.environ["PATH"] += ":/usr/lib/jvm/java-17-openjdk-amd64/bin"

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.7)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 987.4/987.4 kB 14.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for PyDrive (setup.py) ... done

In [2]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession, SQLContext
from pyspark.sql import types as sparktypes

# import PySpark aggregate functions with underscores to avoid collision with Python sum, etc
from pyspark.sql.functions import sum as _sum, avg as _avg, count as _count
from pyspark.sql.functions import col, lit, round, month, to_date, when, expr

from pyspark.sql.window import Window
from pyspark.sql.functions import rank, dense_rank, row_number, lag, lead

In [3]:
!wget -q https://media.githubusercontent.com/media/crneubert/best-music/refs/heads/main/data/calendar.csv
!wget -q https://media.githubusercontent.com/media/crneubert/best-music/refs/heads/main/data/listings.csv
!wget -q https://media.githubusercontent.com/media/crneubert/best-music/refs/heads/main/data/reviews.csv

In [4]:
sc = SparkContext.getOrCreate()
spark = SparkSession(sc)

sc.setLogLevel("ERROR")
sqlContext = SQLContext(sc)

/usr/local/lib/python3.12/dist-packages/pyspark/sql/context.py:113: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [5]:
listings = sqlContext.read.csv("listings.csv", header = True)
reviews = sqlContext.read.csv("reviews.csv", header = True)
calendar = sqlContext.read.csv("calendar.csv", header = True)

# **ANALYSIS**

In [6]:
listings.show()

+-----+--------------------+---------+---------+--------------------+--------------+--------+---------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+
|   id|                name|  host_id|host_name| neighbourhood_group| neighbourhood|latitude|longitude|      room_type|price|minimum_nights|number_of_reviews|last_review|reviews_per_month|calculated_host_listings_count|availability_365|
+-----+--------------------+---------+---------+--------------------+--------------+--------+---------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+
| 6369|Rooftop terrace r...|    13660|    Simon|           Chamartín|Hispanoamérica|40.45724| -3.67688|   Private room|   60|             1|               78| 2020-09-20|             0.58|                             1|             180|
|21853|Bright and airy room|    83531|    Abdel|              Latina|      Cármenes|40.40381|  -3.7413|   Private room|   31|             4|               33| 2018-07-15|             0.42|                             2|             364|
|23001|Apartmento Arganz...|    82175|    Jesus|          Arganzuela|       Legazpi| 40.3884| -3.69511|Entire home/apt|   50|            15|                0|       NULL|             NULL|                             7|               1|
|24805|Gran Via Studio M...|346366726|        A|              Centro|   Universidad|40.42183| -3.70529|Entire home/apt|   92|             5|               10| 2020-03-01|             0.13|                             1|              72|
|26825|Single Room whith...|   114340| Agustina|          Arganzuela|       Legazpi|40.38975| -3.69018|   Private room|   26|             2|              149| 2020-03-12|             1.12|                             1|             365|
|28200|Apartamento Argan...|    82175|    Jesus|          Arganzuela|       Legazpi| 40.3886| -3.69492|Entire home/apt|   85|             1|                3| 2012-05-28|             0.03|                             7|             365|
|30320|Great Vacational ...|   130907|     Dana|              Centro|           Sol|40.41476| -3.70418|Entire home/apt|   65|             5|              170| 2020-01-04|             1.29|                             3|             351|
|30959|Beautiful loft in...|   132883|   Angela|              Centro|   Embajadores|40.41259| -3.70105|Entire home/apt|   54|             3|                8| 2017-05-30|             0.11|                             1|               0|
|37859|PISO, OPERA, MADR...|   162701|    Nacho|              Centro|       Palacio|40.41844| -3.71073|Entire home/apt| 1400|             3|                0|       NULL|             NULL|                             3|             365|
|40718|COZY APARTMENT CI...| 34217435|     Luis|              Centro|      Justicia|40.41969| -3.69736|Entire home/apt|   79|             3|              118| 2019-07-23|             0.91|                            11|             302|
|40916|Holiday Apartment...|   130907|     Dana|              Centro|   Universidad|40.42247| -3.70577|Entire home/apt|   90|             5|               48| 2020-01-05|             0.38|                             3|             346|
|47957|Amazing Apartment...|   218515|   Sergio|           Salamanca|          Goya|40.42792| -3.67682|Entire home/apt|   82|            10|               55| 2018-07-10|             0.44|                             2|             319|
|59923|Habitación para f...|   288380|     NULL|              Centro|       Palacio|40.42103| -3.71038|   Private room|   40|             1|               17| 2019-10-05|             0.15|                             1|             365|
|62423|MAGIC ARTISTIC HO...|   303845|   Arturo|              Centro|      Justicia|40.41884| -3.69655|   Private room|   24|             1|               79| 2020-09-06|             2.21|                             2|             357|
|64131|Habitación Metro ...|   313365|     Gina|Fuencarral - El P...|    Peñagrande|40.48543| -3.72318|   Private room|   21|             2|               35| 2020-11-30|             0.46|                             2|             364|
|70059|Tu hogar en centr...|   353616|    Diana|              Centro|   Universidad|40.42381| -3.71038|Entire home/apt|   51|             5|               41| 2020-08-26|             0.33|                             1|              38|
|70316|Superbly located ...|   353738|   Raquel|              Centro|       Palacio|40.42191| -3.71038|Entire home/apt|   75|            28|                7| 2020-04-30|             0.10|                             1|             348|
|72150|Sunny attic duple...|   364585|      Vin|              Centro|   Embajadores| 40.4115| -3.70449|Entire home/apt|  139|             2|              108| 2020-07-31|             0.87|                             5|             180|
|74352|Cozy apartment in...|   391014|     Juan|              Centro|   Embajadores|40.40864| -3.70884|Entire home/apt|   80|             8|                5| 2019-08-04|             0.11|                             1|             288|
|75609|  Estudio Museo Dino|   401552| Mercedes|              Centro|   Embajadores|40.40892| -3.69697|Entire home/apt|   63|             3|               56| 2020-03-04|             0.51|                             1|              46|
+-----+--------------------+---------+---------+--------------------+--------------+--------+---------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+
only showing top 20 rows

In [7]:
reviews.show()

+----------+----------+
|listing_id|      date|
+----------+----------+
|      6369|2010-03-14|
|      6369|2010-03-23|
|      6369|2010-04-10|
|      6369|2010-04-21|
|      6369|2010-04-26|
|      6369|2010-05-10|
|      6369|2010-05-15|
|      6369|2010-05-23|
|      6369|2010-05-24|
|      6369|2010-06-25|
|      6369|2010-06-28|
|      6369|2010-09-09|
|      6369|2010-09-12|
|      6369|2010-09-15|
|      6369|2010-09-27|
|      6369|2010-10-10|
|      6369|2010-10-14|
|      6369|2010-11-02|
|      6369|2010-11-14|
|      6369|2010-11-28|
+----------+----------+
only showing top 20 rows

In [8]:
calendar.show()

+----------+----------+---------+------+--------------+--------------+--------------+
|listing_id|      date|available| price|adjusted_price|minimum_nights|maximum_nights|
+----------+----------+---------+------+--------------+--------------+--------------+
|    167183|2021-04-15|        f|$45.00|        $45.00|             1|             5|
|      6369|2021-04-15|        t|$60.00|        $60.00|             1|          1125|
|      6369|2021-04-16|        t|$60.00|        $60.00|             1|          1125|
|      6369|2021-04-17|        t|$60.00|        $60.00|             1|          1125|
|      6369|2021-04-18|        t|$60.00|        $60.00|             1|          1125|
|      6369|2021-04-19|        t|$60.00|        $60.00|             1|          1125|
|      6369|2021-04-20|        t|$60.00|        $60.00|             1|          1125|
|      6369|2021-04-21|        t|$60.00|        $60.00|             1|          1125|
|      6369|2021-04-22|        t|$60.00|        $60.00|             1|          1125|
|      6369|2021-04-23|        t|$60.00|        $60.00|             1|          1125|
|      6369|2021-04-24|        t|$60.00|        $60.00|             1|          1125|
|      6369|2021-04-25|        t|$60.00|        $60.00|             1|          1125|
|      6369|2021-04-26|        t|$60.00|        $60.00|             1|          1125|
|      6369|2021-04-27|        t|$60.00|        $60.00|             1|          1125|
|      6369|2021-04-28|        t|$60.00|        $60.00|             1|          1125|
|      6369|2021-04-29|        t|$60.00|        $60.00|             1|          1125|
|      6369|2021-04-30|        t|$60.00|        $60.00|             1|          1125|
|      6369|2021-05-01|        t|$60.00|        $60.00|             1|          1125|
|      6369|2021-05-02|        t|$60.00|        $60.00|             1|          1125|
|      6369|2021-05-03|        t|$60.00|        $60.00|             1|          1125|
+----------+----------+---------+------+--------------+--------------+--------------+
only showing top 20 rows

In [13]:
listings_clean = (listings.withColumnRenamed("id", "listing_id")
                         .filter(col("room_type").isin("Shared room", "Private room", "Entire home/apt", "Hotel room")))



calendar_clean = (calendar.withColumn("available_boolean", when(col("available") == "t", 0).otherwise(1))
                          .groupBy("listing_id")
                          .agg(_avg("available_boolean").alias("occupancy_rate")))

combo_pizza = (listings_clean.join(calendar_clean, on="listing_id")
                             .withColumn("number_of_reviews", col("number_of_reviews").cast("int"))
                             .withColumn("minimum_nights", col("minimum_nights").cast("int"))
                             .withColumn("price", col("price").cast("int"))
                             .withColumn("reviews_per_month", col("reviews_per_month").cast("int")))

combo_pizza.show()

+----------+--------------------+---------+--------------------+--------------------+---------------+--------+---------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+--------------------+
|listing_id|                name|  host_id|           host_name| neighbourhood_group|  neighbourhood|latitude|longitude|      room_type|price|minimum_nights|number_of_reviews|last_review|reviews_per_month|calculated_host_listings_count|availability_365|      occupancy_rate|
+----------+--------------------+---------+--------------------+--------------------+---------------+--------+---------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+--------------------+
|    167183|private house B &...|   796746|            Consuelo|           Hortaleza|        Piovera|40.45575| -3.64912|   Private room|   45|             1|               23| 2020-02-07|                0|                             2|             363|0.005479452054794521|
|   1569343|LOFT de diseño  O...|  8345477|            Fernando|           Salamanca|          Lista|40.42929| -3.67663|Entire home/apt|   96|             5|               74| 2020-03-11|                0|                             1|             365|                 0.0|
|   5159105|Madrid a toda Luz...|   740087|         Jesus&Sonia|              Centro|         Cortes|40.41563| -3.69966|Entire home/apt|   53|             3|               56| 2020-01-12|                0|                             8|               0|                 1.0|
|   4947004|Quiet flat- Gran ...| 12698367|               Nader|              Centro|            Sol| 40.4191|  -3.7079|Entire home/apt|   78|             1|              287| 2020-03-11|                3|                             4|             339| 0.07123287671232877|
|   5371540|Penthouse with te...| 27844535|                  Bo|              Centro|        Palacio| 40.4086| -3.71063|Entire home/apt|  129|             4|              161| 2021-03-10|                2|                             1|             363|0.005479452054794521|
|   6942584|Sofa-bed for 1 or...|  5785483|   Rob & Lola RELAIS|           Salamanca|      Recoletos|40.42772| -3.68548|   Private room|   30|             1|                5| 2019-12-08|                0|                             4|             364|0.002739726027397...|
|   7540378|APARTMENT WITH VI...| 39362213|             Ricardo|              Centro|            Sol|40.41656| -3.70331|Entire home/apt|   96|             1|                3| 2018-04-22|                0|                            25|             318| 0.12876712328767123|
|  11159527|Renewed apartment...| 57548030|              Carlos|   Moncloa - Aravaca|      Argüelles|40.42844| -3.71922|   Private room|   22|             2|               55| 2020-03-15|                0|                             3|               0|                 1.0|
|  12170645|Pequeña habitació...|  7374494|               Jesús|       Ciudad Lineal|    San Pascual|40.44304| -3.65202|   Private room|   30|             1|                0|       NULL|             NULL|                             1|               0|                 1.0|
|  14348631|Bonita habitación...|  2359589|               Legna|          Arganzuela|Palos de Moguer|40.40475| -3.69555|   Private room|   35|             1|              201| 2020-03-08|                3|                             1|             365|                 0.0|
|  15277531|Amazing luxury pe...| 32046323|               Ivory|              Retiro|      Jerónimos|40.40765| -3.68538|Entire home/apt|  285|            30|                1| 2017-01-19|                0|                            92|             364|0.002739726027397...|
|  16398593|                NAPO| 86524177|             Jonatan|  Puente de Vallecas|Palomeras Bajas|40.38243| -3.65846|Entire home/apt|   70|             7|               54| 2019-12-28|                1|                             1|               0|                 1.0|
|  17930771|Casa al lado del ...|115458397|              Nieves|              Retiro|       Pacífico|40.40502|  -3.6726|Entire home/apt|  110|             2|              110| 2021-03-21|                2|                             1|             308| 0.15616438356164383|
|  17932388|Apto. 2.3 Madrid ...| 99991901|Arizonica Espacio...|              Centro|    Universidad|40.42438|  -3.7066|Entire home/apt|  131|             1|               32| 2019-11-07|                0|                             8|             364|0.002739726027397...|
|  17676506|Casa completa. Bu...| 70811133|                 Ana|              Centro|    Embajadores|40.40717| -3.70267|Entire home/apt|   40|             3|                2| 2017-05-02|                0|                             1|               0|                 1.0|
|  18364945|Atico con terraza...|  2425469|              Manuel|          Villaverde|       Butarque|40.34524| -3.67764|Entire home/apt|   75|             2|               10| 2020-01-02|                0|                             1|             363|0.005479452054794521|
|  18880964|Apartamento acces...|131572936|            Victoria|              Retiro|      Jerónimos|40.41398| -3.69278|Entire home/apt|   82|             2|                3| 2019-07-09|                0|                             2|               0|                 1.0|
|  19168256|Apartamento con t...|  3797913|               Rocio|       Ciudad Lineal|     Concepción|40.44212| -3.64493|Entire home/apt|   60|             5|               10| 2020-09-13|                0|                             4|             265|   0.273972602739726|
|  19362573|Apartamento Aveni...|132338413|        María Esther|Fuencarral - El P...|     Peñagrande|40.47938| -3.71562|Entire home/apt|   52|             4|               44| 2020-06-12|                0|                             1|             333| 0.08767123287671233|
|  19446762|Habitación privad...| 79260919|            Mercedes|              Tetuán| Cuatro Caminos|40.45212| -3.69983|   Private room|   18|             1|                0|       NULL|             NULL|                             1|               0|                 1.0|
+----------+--------------------+---------+--------------------+--------------------+---------------+--------+---------+---------------+-----+--------------+-----------------+-----------+-----------------+------------------------------+----------------+--------------------+
only showing top 20 rows

Room Type

In [10]:
room_type = (combo_pizza.groupBy("room_type")
                        .agg(_avg("occupancy_rate").alias("avg_occupancy_rate"))
                        .orderBy("avg_occupancy_rate", ascending = False))
room_type.show()

+---------------+------------------+
|      room_type|avg_occupancy_rate|
+---------------+------------------+
|   Private room| 0.555126992439271|
|Entire home/apt| 0.529229739202593|
|    Shared room|0.5122921401780076|
|     Hotel room|0.3468134414697336|
+---------------+------------------+

Next Part

In [15]:
print(combo_pizza.corr("occupancy_rate", "price"))
print(combo_pizza.corr("occupancy_rate", "reviews_per_month"))

0.016470467622479442
-0.03716518313219832

In [18]:
neighborhood = (combo_pizza.groupBy("neighbourhood")
                           .agg(_avg("occupancy_rate").alias("avg_occupancy_rate"))
                           .orderBy("avg_occupancy_rate", ascending = False))
neighborhood.show()

+-----------------+------------------+
|    neighbourhood|avg_occupancy_rate|
+-----------------+------------------+
|       Valdemarín|0.8005479452054794|
|          Pavones| 0.789041095890411|
|         El Pardo|0.7547845397609602|
|          Atalaya|0.7095890410958904|
|      Media Legua| 0.684236906455074|
|          Acacias| 0.680184409717177|
|        El Goloso|0.6726940639269408|
|         Estrella|0.6471569728273074|
|         Delicias|0.6424726632002626|
|      Castillejos|0.6308780597350102|
|            Timón|0.6230322730438821|
|           Ventas|0.6197088401437404|
|          Chopera|0.6168632005905188|
| Alameda de Osuna|0.6132420091324198|
|San Juan Bautista|0.6119004510068119|
|      Los Angeles| 0.608573722856229|
|           Lucero|0.6072408366703085|
|          Legazpi|0.6058346017250126|
|        Fontarrón|0.6047322540473226|
|         Cármenes|0.6035481697731866|
+-----------------+------------------+
only showing top 20 rows

In [19]:
neighborhood_group = (combo_pizza.groupBy("neighbourhood_group")
                           .agg(_avg("occupancy_rate").alias("avg_occupancy_rate"))
                           .orderBy("avg_occupancy_rate", ascending = False))
neighborhood_group.show()

+--------------------+-------------------+
| neighbourhood_group| avg_occupancy_rate|
+--------------------+-------------------+
|           Moratalaz| 0.6149968725457734|
|          Arganzuela| 0.6066468780809275|
|          Villaverde| 0.5807613564227848|
|             Barajas| 0.5736790606653622|
|       Ciudad Lineal| 0.5548000453518356|
|   Moncloa - Aravaca| 0.5541672944692754|
|              Retiro| 0.5468042183449434|
|              Latina| 0.5463370408657556|
|           Salamanca|  0.545655321094543|
|              Tetuán| 0.5414233896046414|
|            Chamberí| 0.5405170286927271|
|              Centro| 0.5381833396301434|
|Fuencarral - El P...| 0.5360639902802491|
|           Hortaleza| 0.5182060659603888|
|           Chamartín| 0.5152878845138193|
|               Usera| 0.5081418626287258|
|         Carabanchel| 0.5011714950887431|
|   Villa de Vallecas| 0.4999107076021516|
|San Blas - Canill...|0.48199241969413037|
|           Vicálvaro|0.46943675677841284|
+--------------------+-------------------+
only showing top 20 rows

What time is best to have AirBnb avaliable to rent?

In [20]:
best_time = (calendar.withColumn("available_boolean", when(col("available") == "t", 0).otherwise(1))
                     .withColumn("date", to_date(col("date"), "yyyy-MM-dd"))
                     .withColumn("month", month(col("date")))
                     .groupBy("month")
                     .agg(_avg("available_boolean").alias("month_occ_rate"))
                     .orderBy("month_occ_rate", ascending = False))
best_time.show()

+-----+-------------------+
|month|     month_occ_rate|
+-----+-------------------+
|    4| 0.6066581744721921|
|    3| 0.6048736530362901|
|    2| 0.6044101690224951|
|    1| 0.5929353572526791|
|   12| 0.5762184543689065|
|   11| 0.5760377903519056|
|   10| 0.5415431316156001|
|    5|0.49732868298891514|
|    9|0.48412261473891693|
|    8|0.47935875236587094|
|    7| 0.4533674709394584|
|    6| 0.4395830147321201|
+-----+-------------------+

In [12]:
listings.groupBy("room_type").count().collect()

[Row(room_type='15', count=2),
 Row(room_type='42', count=1),
 Row(room_type='Shared room', count=328),
 Row(room_type='59', count=1),
 Row(room_type='-3.70739', count=1),
 Row(room_type='22', count=3),
 Row(room_type='35', count=2),
 Row(room_type='16', count=2),
 Row(room_type='410', count=1),
 Row(room_type=None, count=58),
 Row(room_type='43', count=1),
 Row(room_type='100', count=1),
 Row(room_type='18', count=1),
 Row(room_type='61', count=1),
 Row(room_type='Hotel room', count=166),
 Row(room_type='40.42756', count=1),
 Row(room_type='78', count=1),
 Row(room_type='1200', count=1),
 Row(room_type='90', count=2),
 Row(room_type='19', count=1),
 Row(room_type='23', count=1),
 Row(room_type='55', count=1),
 Row(room_type='Entire home/apt', count=11286),
 Row(room_type='-3.67316', count=1),
 Row(room_type='38', count=1),
 Row(room_type='40', count=2),
 Row(room_type='376', count=1),
 Row(room_type='40.40902', count=1),
 Row(room_type='115', count=1),
 Row(room_type='-3.70747', count=1),
 Row(room_type='58', count=1),
 Row(room_type='204', count=1),
 Row(room_type='350', count=3),
 Row(room_type='259', count=1),
 Row(room_type='67', count=1),
 Row(room_type='-3.69901', count=1),
 Row(room_type='Private room', count=7775),
 Row(room_type='600', count=1),
 Row(room_type='20', count=2),
 Row(room_type='-3.65642', count=1),
 Row(room_type='36', count=1),
 Row(room_type='65', count=1),
 Row(room_type='252', count=1),
 Row(room_type='-3.58548', count=1),
 Row(room_type='39', count=1),
 Row(room_type='12', count=1),
 Row(room_type='13', count=1),
 Row(room_type='-3.71029', count=1),
 Row(room_type='21', count=1),
 Row(room_type='353', count=1),
 Row(room_type='80', count=1),
 Row(room_type='50', count=4),
 Row(room_type='45', count=1),
 Row(room_type='-3.68172', count=1)]